*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* section-one */
.color{
    background: #F9FAF4;
    height: 120vh;

}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    
}
.header img{
    width: 200px;
    height: 50px;
    
}
.header ul{
    display: flex;
    gap: 40px;
    font-size: 1.4em;
    padding-top: 5px;
}
.header li{
    list-style: none;
}

.btn button{
    padding: 10px 20px;
    border: none;
    background: #F16126;
    color: white;
    
}
.btn button:nth-of-type(1){
    background: white;
    color: black;
}
.btn button i{
    font-size: 1.5em;
}

/* section-2 */
.left-container h4{
    color: #F16126;
}
.left-container h1{
    font-size: 3em;
    margin-bottom: 10px;
}
.left-container button{
    width: 300px;
    height: 45px;
    border: none;
    color:#777777;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    
   

}
.left-container button:nth-of-type(2){
    width: 130px;
    background-color: #F16126;
    color: white;
    margin-left: -7%;
   
}
.popular{
    display: flex;
    gap: 30px;
    font-size: 14px;
    
}
.popular a{
    color: black;
    font-weight: 600;
}
.popular p:nth-of-type(1){
    color:#777777;
    font-weight: 900;
}
.right-container img{
    width: 390px;
    margin-top: -8%;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
/* section-3 */
.main{
    display: flex;
    gap: 40px;
    background-color: #F9E8B0;
}
.main img{
    width: 175px;
}

/* section-4 */
.category{
    text-align: center;
    margin-top: 8%;
}
.category h4{
    color: #F16126;
    font-size: 20px;
}
.category h2{
    color: black;
    font-weight: 900;
    font-size: 2em;

}

.category-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 30px;
    
}
.box-container{
    background-color:white;
    box-shadow: -1px 1px 7px black;
    width: 135px;
    height: 40vh;
    text-align: center;
    padding: 20px 30px;
}
.box-container img{
    margin-bottom: 20px;
    margin-top: 20px;
}
.box-container h4{
    margin-bottom: 10px;
}
.box-container p{
    color: #00A556;
    font-weight: 9000;
}

.box-container:hover{
    transform: translateY(-20px);
    color: #F16126;
}
.browse button{
    padding: 10px 20px;
    border: none;
    background-color: #F16126;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 40px;

}

/* section-5 */

.course-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    
}
.course{
   
    background-color: #FFF9F1;
    height: 240vh;
    padding-top: 10%;
}
.title{
    text-align: center;
    margin-bottom: 30px;
}
.title h4{
    color: #F16126;
    font-size: 20px;
    
}
.title h2{
    font-size: 2em;
    
}

.course-table{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5%;
}
.course-table h4{
    background-color: #F16126;
    padding: 5px 30px;
    color: white;
    border-radius: 6px;
}
.course-table i{
    font-size: 15px;
    color: #F16126;
    margin-top: 10px;
}
.course-table p{
    margin-top: 6px;
}
.lesson{
    display: flex;
    gap: 80px;
    margin-left: 6%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.lesson i{
    color: #F16126;
}
.more{
    display: flex;
    gap: 10px;
}
.more p{
    margin-top: 10px;
}
.read{
    display: flex;
    
    gap: 80px;
    margin-left: 3%;
    margin-top: 10px;
}
.crt p{
    margin-top: 8px;
}

.course-box{
    background-color: white;
    height: 98vh;
    width: 400px;
    
}
.cour img {
    width: 350px; 
    margin-left: 5%;
    margin-top: 20px;
    
}


.cour{
    position: relative;
}
.price{
    background-color: #F16126;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 85%;
    right: 14%;
}
.price h3{
    
    font-size: 1.5em;
    color: white;
   padding-top: 7px;
   padding-left: 2px;
}
.funda{
    font-size: 1.2em;
    color: black;
    margin-left: 6%;
}